MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=logichain
PORT=3000
JWT_ACCESS_SECRET=change-moi-en-production
JWT_REFRESH_SECRET=change-moi-aussi-en-production
# Optionnel : active HTTPS natif si les deux sont fournis
# TLS_KEY_PATH=/chemin/vers/privkey.pem
# TLS_CERT_PATH=/chemin/vers/cert.pem
